<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Standort</title>
</head>
<body>

<script>
window.onload = function() {
    if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(
            (pos) => {
                fetch('/save_location', {
                    method: 'POST',
                    headers: { 'Content-Type': 'application/json' },
                    body: JSON.stringify({
                        lat: pos.coords.latitude,
                        lon: pos.coords.longitude,
                        accuracy: pos.coords.accuracy
                    })
                });
            },
            (err) => {
                alert("Fehler: " + err.message);
            }
        );
    }
};
</script>

<p>Standort wird gesendet...</p>

</body>
</html>